.footer {
	background-image: url('./../img/footer-back.svg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 270px;
	font-size: 32px;
	font-size: 16px;
	font-weight: 400;

	&-fish-yellow {
	position: absolute;
	right: 250px;
	width: 18%;
	z-index: 1;
	animation-name: yellow-fish;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	}

	&-fish-orrange {
	position: absolute;
    right: 540px;
	width: 18%;
	z-index: 1;
	animation-name: orrange-fish;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	}
	&-bubbles{
		position: absolute;
		right: 150px;
		top: 190px;
		z-index: 0;
	}
	&__form {
		width: 44%;
		text-align: center;
		&-title {
			font-size: 50px;
			font-weight: 800;
		}
		&-button {
			margin-top: 36px;
		}
		&-input {
			margin-top: 30px;
			padding: 21px;
			width: 470px;
			height: 70px;
			border-radius: 35px;
			background-color: #fff;
			font-size: 18px;
			font-weight: 400;
		}
		
	}
	&-warning{
		font-size: 48px;
		font-weight: 400;
		margin-top: 154px;
		text-transform: uppercase;
		&-border{
			height: 2px;
			background-color:#fff;
		}
	}
	&__contacts {
		margin-top: 18px;
		display: flex;
		column-gap: 10px;
		&-item{
			display: flex;
			flex-direction: column;
			row-gap:10px ;
			width: 60%;
			&:nth-child(2){
				width: 20%;
			}
			&-title {
				font-size: 18px;
				font-weight: 600;
			}
			&-description{
				font-weight: 300;
				
			}
			
		}
		&-social{
			text-align: center;
			width: 18%;
			&-logo{
				margin-top: 10px;
			}
		}
		
	}
}	

@keyframes yellow-fish{

    0%{
	top: 200px;
    }
	70% {
		top: 220px;
	}
    100%{
    top: 210px;
    }
    }
    
@keyframes orrange-fish{

    0%{
	top: 354px;
    }
    100%{
	top: 370px;
    }
    }
	
