.header {
	background-color: transparent;
	padding: 0;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__nav {
		
		&-wrapper {	
			display: flex;
			flex-direction: row;
			column-gap:10px;
		}
		&-link{
			cursor: pointer;
			border: 2px solid transparent;
			padding: 10px;
			
		}
		&-link:hover {
			border-radius: 30px;
			border: 2px solid var(--White, #FFF);
		}
	}
	&__social{
		display: flex;
		column-gap: 30px;
		&-icon{
			position: relative;
			cursor: pointer;
		}
		&-icon::after{
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 100%;
				position: absolute;
				left: 0;
				top: 0;
				transition: 250ms background-color;
		}
		&-icon:hover {
				&:after {
				  background-color: rgba(#fff, .2);
				  border-radius: 100%;
				}
		}
	}

}
