.header {
	background-color: #44D6FF;
	padding: 0;
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__nav {
		z-index: 3;
		&-wrapper {	
			display: flex;
			flex-direction: row;
			column-gap:10px;
		}
		&-link{
			cursor: pointer;
			border: 2px solid transparent;
			padding: 10px;
			
		}
		&-link:hover {
			border-radius: 30px;
			border: 2px solid #FFF;
		}
	}
	
	}

