.main {
    background: linear-gradient(0deg, #FFF 30.96%, rgba(255, 255, 255, 0.00) 65.18%), #44D6FF;
    position: relative;
    padding-bottom: 367px;
    &-title {
        margin-top: 86px;
        font-size: 52px;
        font-weight: 800;
    }
    &-description {
        margin-top: 13px;
        font-size: 18px;
        font-weight: 300;
        width: 40%;
        line-height: 24px;

    } 
    &-button {
        margin-top: 22px;
        margin-bottom: 20px;
    }
    &__fruits {
        &-desktop{
            position: absolute;
            top: 107px;
            left: 500px;
            z-index: 2;
            
        }
        &-container-2{
            position: absolute;
            width: 38px;
            height: 38px;
            top: 221px;
            right: 608px;
            border-radius: 100%;
            border: 1px solid #000;
            z-index: 5;
            float: right;
        }
        &-container-1{
            position: absolute;
            width: 38px;
            height: 38px;
            top: 223px;
            right: 688px;
            border-radius: 100%;
            border: 1px solid #000;
            z-index: 5;
            float: left;
        }
        &-eye-1{
            &-wrapper{
                width: 40px;
                height: 40px;
                top: 241px;
                left: 814px;
                border-radius:100%;
                position: absolute;
                float: left;
                z-index: 5;
                
            }
            &-pupil{
                position: absolute;
                left: 19px;
                bottom: 10px;
            }
        }
        &-eye-2{
            &-wrapper{
                width: 40px;
                height: 40px;
                top: 238px;
                left: 881px;
                border-radius:100%;
                position: absolute;
                float: left;
                z-index: 5;
            }
            &-pupil{
                position: absolute;
                left: 19px;
                bottom: 10px;
            }
        }
        
    }
    &__element {
        &-grass{
            position: absolute;
            top: 330px;
            width: 100%;
            z-index: 1;
        }
        &-left {
            &-tree {
                position: absolute;
                top:100px;
                width: 17%;
                animation: tree-left 2s cubic-bezier(.46,.03,.52,.96) 0s infinite alternate;
                transform-origin: 50% 100%
            }
            &-cloud {
                position: absolute;
                top:-147px;
                left: 0;
                z-index: 0;
                animation-name: cloud-left;
                animation-duration: 6s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
        }
        &-right{
            &-tree {
                position: absolute;
                right: 0;
                top: 0px;
                transform-origin: 50% 100%;
                animation: tree-right 5s cubic-bezier(.46,.03,.52,.96) 0s infinite alternate;

            }
            &-cloud {
                position: absolute;
                right: 10px;
                top:-200px;
                z-index: 0;
                animation-name: cloud-right;
                animation-duration: 3s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-direction: alternate-reverse;
            }
        }
    }
}


@keyframes cloud-left{

    0%{
    left: 0%;
    }
    100%{
    left: 3%;
    }
    }
    
@keyframes cloud-right{

    0%{
    right: 0%;
    }
    100%{
    right: 3%;
    }
    }

@keyframes tree-left {
    0% { 
        transform: rotate(1deg); 
    }
    100% { 
        transform: rotate(-1deg); 
    }
}

@keyframes tree-right {
    0% { 
        transform: rotate(1deg); 
    }
    100% { 
        transform: rotate(-1deg); 
    }
}



@media (min-width: 1920px) {
    
}
