.anim-new-1{
    transform: translate(0px, 100px);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
    
    
}
.anim-new-2{
    transform: translate(0px, 100px);
    opacity: 0;
    transition: all 0.8s ease 0.4s;
    
    
}
.anim-new-3{
    transform: translate(0px, 100px);
    opacity: 0;
    transition: all 0.8s ease 0.6s;
     
}

.new {
    position: relative;
    background: linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, 0.00) 94.22%), #FFF6EE;
    color: #D07CC6;
    padding-bottom: 0px;
    padding-top: 64px;
    text-align: center;
    &-wrapper {
        display: flex;
        justify-content: space-between;

    }
    &__advantages{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        &-img:first-child{
            width: 300px;
            height: 401px;
        }
        &-img:nth-child(1){
            width: 556px;
            height: 401px;
        }
        &-img:last-child{
            width: 300px;
            height: 401px;
        }
        
        &__advantages:nth-child(1){
            width:32%;
            
        }
        &__advantages:nth-child(2){
            width:50%;
            
        }
        &__advantages:nth-child(3){
            width:28%;
            
        }
        
        
        &-title{
            font-size: 25px;
            font-weight: 800;
            margin-bottom: 18px;
        }
        &-subtitle {
            font-size: 18px;
            font-weight: 300;
        }
        
        &-container {
            padding: 0 57px;
            
        }
        
        
        
        &-img-2{
            width: 480px;
            height: 400px;
        }
        

        
    }

}

@media only screen and (max-width: 1200px) {
    .new {
        &-wrapper{
            flex-flow: wrap;
            justify-content: center;
            column-gap: 30px;
        }
        &__advantages:nth-child(1){
            width:42%;
            
        }
        &__advantages:nth-child(2){
            width:64%;
            order: 3;
            
        }
        &__advantages:nth-child(3){
            width:42%;
            
        }
        &__advantages {
            &-container {
                padding: 0;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .new {
        &-wrapper{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 40px;
           
        }
        &__advantages:nth-child(1){
            width:60%;
            
            
        }
        &__advantages:nth-child(2){
            width:70%;
            
            
        }
        &__advantages:nth-child(3){
            width:60%;
            
        }
    }
}
@media only screen and (max-width: 575px) {
    .new {
        &__advantages:nth-child(1){
            width:100%;
            
            
        }
        &__advantages:nth-child(2){
            width:100%;
            
            
        }
        &__advantages:nth-child(3){
            width:100%;
            
        }
        &__advantages{
            &-img:nth-child(2){
                width: 277px;
                height: 290px;
            }
            &-img:nth-child(1){
                width: 277px;
                height: 290px;
            }
            &-img:nth-child(3){
                width: 277px;    
                height: 290px;
            }
        }
        &__advantages{
            &-title {
                font-size: 16px;
            }
            &-subtitle{
                font-size: 13px;
            }
            &-container{
                padding: 0 50px;}
                
        }
        
    }
    
}

@media only screen and (max-width: 350px) {
    .new {
        &__advantages{
        &-container {
            padding: 0;
        }
    }
    }
    
}