.anim-present-img {
    transform: translate(0px, 100px);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
}
.anim-present-title {
    transform: translate(0px, -100px);
    opacity: 0;
    transition: all 0.8s ease 0.4s;
}
.anim-present-description {
    transform: translate(0px, -200px);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
}
.anim-present-details {
    transform: translate(0px, -200px);
    opacity: 0;
    transition: all 1s ease 0.2s;
}
.anim-present-link {
    transform: translate(0px, -200px);
    opacity: 0;
    transition: all 0.8s ease 0.2s;
}

.active {
    transform: translate(0);
    opacity: 1;
}
.present {
    position: relative;
    background: linear-gradient(1deg, #FFF -17.47%, rgba(255, 255, 255, 0.00) 37.7%), #FFF6EE;
    &-up-background {
        position: absolute;
        top: -74px;
        width: 100%;
        right: 0;
        height: 27%;
    }
    &__content {
        display: flex;
        z-index: 4;
        color:#D07CC6;
        font-size: 18px;
        font-weight: 400;
        width:90%;
        margin: 0 auto;
        &-img{
            width: 62%;
        }
        &-text{
            width: 42%;
            display: flex;
            flex-direction: column;
            
        }
        &-title{
            font-size: 36px;
            font-weight: 800;
            margin-bottom: 32px;
            margin-top: 75px;
        }
        &-description{
            margin-bottom: 10px;
            font-weight: 300;
        }
        &-link {
            margin-top: 21px;
        }
    }
    &-down-background {
        position: absolute;
        bottom: -74px;
        left:0;
        right: 0;
        height: 27%;
        z-index: 5;
    }
    
}

@media only screen and (max-width: 1200px) {
    .present {
        &__content {
            &-img {
                width: 58%;
            }
            &-title {
                font-size: 34px;
            }
        }
    }
}

@media only screen and (max-width: 991px) {
    .present {
        &__content {
            align-items: center;
            font-size: 13px;
            &-img {
                width: 58%;
            }
            
            &-title {
                font-size: 26px;
            }
            
        }
    }
}
@media only screen and (max-width: 767px) {
    .present {
        
        &-up-background{
            height: 14%;
        }
        &__content {
            flex-direction: column;
            font-size: 20px;
            &-img {
                width: 100%;
            }
            
            &-text {
               text-align: center; 
               width: 100%;
            }
            &-title {
                font-size: 30px;
                margin-top: 14px;
            }
            
        }
    }
}

@media only screen and (max-width: 575px) {
    .present{
        &__content{
            font-size: 16px;
            &-title {
                font-size: 27px;
                margin-bottom: 20px;
            }
            
        }
    }
}
