.products {
    background-image: url('./../img/products-bg.svg');
    background-repeat: no-repeat;
    background-color: #FFEBDA;
    background-size: cover;
    background-position: 0 0;
    color: #D07CC6;
    padding-top: 100px;
    min-height: 900px;
    &-wrapper{
        margin: 140px auto;
        position: absolute;
        top:82px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        text-align: center;
    }
    &-cards{
        margin-top: 72px;
    }
    &__item{
        position: relative;
        width: 25%;
        &-img {
            width: 80%;
            position: relative;
            cursor: pointer;
        }
        &-banana{
            display: none;
            position: absolute;
            top: -136px;
            right: -63px;
        }
        &-title {
            margin-top: 21px;
            font-size: 22px;
            font-weight: 800;
        }
    }
}
@keyframes cloud-1{

    0%{
        left:0px;
    }
    100%{
    left: 20px;
    }
    }
    
@keyframes cloud-2{

    0%{
    left: 150px;
    }
    100%{
    left: 170px;
    }
    }

@keyframes vitamin {
    0%{
        top: 40px;
    }
    100%{
        top: 70px;
    }
}

