.recommendations {
    padding-top: 77px;
    padding-bottom: 70px;
    background-image: url('./../img/recommendations-bg.svg');
    background-color: #FFEBDA;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    &-pear{
        position: absolute;
        left: 626px;
        top: 0;
        width: 46%;
    }
    
    &__text{
        width: 60%;
        font-size: 18px;
        font-weight: 400;
        &-description {
            font-size: 18px;
            font-weight: 300;
        }
        &-title {
            font-size: 32px;
            font-weight: 800;
            margin-bottom: 27px;
        }
        &-wrapper{
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            row-gap: 6px;
        }
        &-subtitle {
            font-size: 26px;
            font-weight: 800;
        }
    }
}