.recommendations {
    padding-top: 77px;
    padding-bottom: 70px;
    background-image: url('./../img/recommendations-bg.svg');
    background-color: #FFEBDA;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    &-pear{
        position: absolute;
        left: 715px;
        top:0;
        width: 40%;
    }
    
    &__text{
        width: 51%;
        font-size: 18px;
        font-weight: 400;
        &-description {
            font-size: 18px;
            font-weight: 300;
        }
        &-title {
            font-size: 32px;
            font-weight: 800;
            margin-bottom: 27px;
        }
        &-wrapper{
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            row-gap: 6px;
        }
        &-subtitle {
            font-size: 26px;
            font-weight: 800;
        }
    }
}


@media only screen and (max-width: 1400px) {
    .recommendations {
        &-pear {
            top: 21px;
        }
    }
}
@media only screen and (max-width: 1200px) {
    .recommendations {
        &__text{
            width: 48%;
            &-title {
                font-size: 29px;
            }
            &-description {
                font-size: 14px;
            }
        }
        &-pear {
            left:615px;
        }
        
    }
}
@media only screen and (max-width: 991px) {
    .recommendations {
        &__text{
          width: 52%;
            
        }
        &-pear{
            top:135px;
            left: 515px;
        }
        
        
    }
}
@media only screen and (max-width: 767px) {
    .recommendations {
        &-pear {
            display: none;
        }
        
    }
}

@media only screen and (max-width: 575px) {
    .recommendations{
        &__text{
            width: 60%;
            &-title {
                font-size: 25px;
            }
            &-subtitle {
                font-size: 20px;
            }
            &-description {
                font-size: 11px;
            }
        }
        
    }
}

@media only screen and (max-width: 350px) {
    .recommendations{
        &__text{
            width:100%
        }
    }
}