.slider {
   
}

.hidden {
    display: none;
}
.cards {
    background-color: #FFEBDA;
    color: #D07CC6;
    &__item {
    position:relative;
    &-wrapper{
        position: absolute;
        top:0;
        left: 530px;
    }
    &-title {
        color: #FF5F4E;
        margin-top: 57px;
        font-size: 52px;
        font-weight: 800;
        &_red{
            background-color:  #FF5F4E;
            color: #fff; 
            border-radius: 30px;
        }
    }
    &-buttons{
        font-size: 24px;
        font-weight: 800;
    }
    &-description{
        display: none;
        &-list{
            margin-top: 35px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
        }
    }
    &-properties{
        width: 80%;
        &-specification{
            margin-top: 10px;
        }
        &-offer{
            margin-top: 28px;
            margin-bottom: 27px;
            display: flex;
            column-gap: 8px;
            padding: 17px;
            border-radius: 30px;
            border: 2px solid  rgba(208, 124, 198, 0.3);
            font-size: 52px;
            font-weight: 800;
            &-2{
                font-size: 24px;
            }
        }
    }
    &-cloud-1{
        position: absolute;
        top:430px;
        animation-name: cloud-1;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    &-cloud-2{
        position: absolute;
        top: 0px;
        animation-name: cloud-2;
        animation-duration: 3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse;
    }
    &-vitamin{
        position: absolute;
        width: 38%;
        left: 37px;
        animation-name: vitamin;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    &-button{
        &-left{
            position: absolute;
            top: 10px;  
        }
    }
}

}

